/*  your css code here. If applicable */
  div{
		  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	  }
h1,h3,p{
	text-align:center;
}
div img{
		  position:relative;
		  left:70px;
	  }
button{
		  background-color:red;
		  color:white;
		  border-radius:2px;
		  font-size:30px;
		  position:relative;
		  left:160px;
		 
	  }
	  